@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconder barra de rolagem para Chrome, Safari e Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Esconder barra de rolagem para IE, Edge e Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
